# NB: R Data Types and Operators

Programming for Data Science

R supports the following **basic data types**:

- Numeric
- Integer
- Complex
- Logical
- Character

Let's go over each briefly.

## Numeric

Floating point numbers are called "numerics" in R.

It is the **default** data type.

If we assign a decimal value to a variable `x`, `x` will be of numeric type:

In [1]:
x <- 10.5      
x

[1] 10.5

We can learn the type of data stored by a variable with the `class()` function.

In [2]:
class(x)

[1] "numeric"

Even if we assign an integer to a variable `k`, it is will still be saved
as a numeric value.

In [3]:
k <- 1
k

[1] 1

In [4]:
class(k)

[1] "numeric"

That `k` is not an integer can be confirmed with `is.integer()`:

In [135]:
is.integer(k)

[1] FALSE

## Integers

To create an integer variable in R, we use `as.integer()`.

In [13]:
y <- as.integer(3) 
y

[1] 3

In [14]:
class(y)       
is.integer(y)

[1] "integer"

[1] TRUE

We can also declare an integer by appending an `L` suffix.

In [15]:
y <- 3L

To see if a variable is an integer, you can use `is.integer()`:

In [16]:
is.integer(y)

[1] TRUE

We can also coerce, or cast, a numeric value into an integer with
`as.integer()`.

In [207]:
as.integer(3.14)

[1] 3

And we can parse a string for decimal values in much the same way.

In [208]:
as.integer("5.27")

[1] 5

On the other hand, you can't parse a non-decimal string.

In [209]:
as.integer("Joe")

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

We can convert booleans to numbers this way, too.

In [210]:
as.integer(TRUE)    
as.integer(FALSE)

[1] 1

[1] 0

## Math Operators

Numerics and integers are subject to the standard array of arithmetic
operations.

| **Operator**   | **Description**             |
|----------------|-----------------------------|
| **+**          | addition                    |
| **-**          | subtraction                 |
| **\***         | multiplication              |
| **/**          | division                    |
| **\^ or \*\*** | exponentiation              |
| **x %% y**     | modulus (x mod y) 5%%2 is 1 |
| **x %/% y**    | integer division 5%/%2 is 2 |

## Logical (Boolean)

Boolean data are called "logical" in R.

They take the values `TRUE` and `FALSE`, or `T` and `F` for short.

A logical value is often produced from the **comparison** between
values.

In [17]:
x <- 1
y <- 2      
z <- x > y  
z

[1] FALSE

In [18]:
class(z)

[1] "logical"

## Logical Operators

R supports the standard logical operations: `&` stands for "and", `|` for stands for "or", and `!` stands for negation.

In [19]:
u <- TRUE
v <- FALSE
u & v

[1] FALSE

In [20]:
u | v

[1] TRUE

In [21]:
!u

[1] FALSE

Again, you may use `T` and `F` instead of `TRUE` and `FALSE`.

In [22]:
a <- T
b <- F
a & b

[1] FALSE

## Characters

Strings are called "character" objects in R.

This may be confusing if you are coming from a language, such as Java, where "character"
means an individual character, such as `A`.

We may convert non-character objects into characters with the `as.character()` function:

In [23]:
x <- as.character(3.14) 
x

[1] "3.14"

In [24]:
class(x)       # print the class name of x

[1] "character"

## `paste()`

Two character values can be concatenated with the `paste()` function.

In [1]:
fname <- "Joe"
lname <- "Smith" 
paste(fname, lname)

[1] "Joe Smith"

`paste()` takes a `sep` argument:

In [29]:
paste("A", "B", "C", sep="--")

[1] "A--B--C"

Note that R does *not* overload the `+` operator.

In [30]:
fname + lname

ERROR: Error in fname + lname: non-numeric argument to binary operator

## `sprintf()`

It is often convenient to create a readable string with the `sprintf()`
function, which has a C language syntax.

In [31]:
sprintf("%s has %d dollars", "Sam", 100)

[1] "Sam has 100 dollars"

## `substr()`

To extract a substring, we apply the `substr()` function.

Here is an example showing how to extract the substring between the
third and twelfth positions in a string.

In [154]:
substr("Mary has a little lamb.", start=3, stop=12)

[1] "ry has a l"

## `sub()`

And to replace the first occurrence of the word "little" by another word
"big" in the string, we apply the `sub()` function.

This function can use regular expressions.

In [155]:
sub("little", "big", "Mary has a little lamb.")

[1] "Mary has a big lamb."